{% extends 'base.html' %}

{% block content %}
<main>

    <!--------------------------------------STATIC CONTENT ---------------------------------------------------------------->
    <h1>Check out our Blog posts</h1>
    <!--search bar-->
    <div class="container">
        <div class="wrap">
            <div class="search-container">
                <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search" class="searchTerm">
                    <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
    <!---------------------------------------------------END STATIC CONTENT---------------------------------------------->
    <!---------------------------------------ARTICLE FOR BLOG POST STARTS HERE LOAD BLOG POST DYNAMICALLY------------------------------------------------------>
    <!--Article tags hold each blog post-->
    <article>
        <!--Blog post goes in here-->
        <header>
            <h2 class="title">Main title for blog posts</h2>
            <div class="month-year">October 20, 2019</div>
        </header>
         <!-------------------------title image--------------------->
        <img src="/img/bimini.jpg" alt="">
        <!--Breif Blog post content-->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis error cum magnam exercitationem non est magni, dicta modi distinctio corrupti.</p>

        <button>Read more</button>

    </article>
    <div class="spacer"></div>
</main>
{% endblock %}