{% extends 'base.html' %}

{% load humanize %}

{% load static %}


{% block content %}
<main>
    <!--------------------------------------STATIC CONTENT ---------------------------------------------------------------->
    <!-- <div class="spacer"></div> -->
    <!-- <div class="header-bg"></div> -->
    <!-- <h1 class="tower-title">NDT Premium Wakeboard Towers <br> Made in the usa</h1> -->

    <!--ADD A BAR FOR CHECKOUT CART AND MESSAGE-->

    <div class="spacer-small top"></div>

    <div class="top-section">
        <div class="top-img">
            <img src="{% static 'img/finished/tower-2.jpg' %}" alt="">
        </div>
        <div class="top-title">
            <h2>NDT Wakeboard Towers</h2>
            <p class="boat-text">New Dimension wakeboard towers are strong, lightweight, and built to withstand extreme conditions. All of our towers are specifically designed and fabricated to fit your exact make and model of boat. No universal joints or adjustments are needed. Fabricated using 1 7/8 inch diameter, brushed and anodized 6061 aluminum tubing, creating the ultimate light weight, corrosion resistant tower. The mounting base is custom designed and machined using polished billet aluminum removing the need for a large metal plate bolted to the hull. Every element of the New Dimension wakeboard tower is designed to enhance the look and performance of your boat.</p>
        </div>
    </div>

    <!-- <div class="spacer-xs"></div> -->
   

    <div class="hero-top">
        <div class="sidebar">
            
            <div class="spacer-xs" id="show"></div>

            <h2>Select your boat</h2>

            
            <!--------Select form and submit button------------>
            <form action="{% url 'towers' %}#show" method="POST" id="tower-form">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>

        </div>
 
        <!-- <div class="spacer-xs"></div> -->

                <!--Boat gallery-->
        <div class="card-container">

            <!-- <div class="spacer-xs" id="show"></div> -->
            {% if towers %}
                {% if has_id %}
                    {% with towers|first as tower %}
                        <h3>{{tower.get_name|title}}</h3>
                    {% endwith %}
                {% elif get_id %}
                    <h3>{{id}}</h3>
                {% else %}
                    <h3>NDT towers</h3>
                {% endif %}
            {% else %}
                <h3>All NDT towers</h3>
            {% endif %}
            
            <div class="box">

                {% if towers %}
                    {% for tower in towers %}
                        
                            <!--------- ADD IF MANUFACTURER IS == TO < SELECTION NAME >------------->
                        <a href="#!">
                            <div class="card">
                                <img src="{{ tower.first_image.image.url }}" alt="{{ tower.first_image.description }}" class="card-image">
                                
                                <h3 class="card-title">{{tower.title}}</h3>
                                <div class="card-bottom">
                                    <p class="card-price">${{ tower.price | intcomma }}</p>
                                    <a href="#!" class="card-icon"><i class="fas fa-plus-circle"></i></a>
                                </div>
                            </div>
                        </a>

                        
                    {% endfor %}
                {% else %}
                    <div class="col-md-12">
                        <p>No towers available</p>
                    </div>
                {% endif %}

            </div>

            <div class="spacer-small"></div>
        </div>
    </div>    
        <!-- <div class="row">
            <div class="col-lg-6">
                <div class="swiper-container">
                    {% if main_img %}
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                {% if main_img %}
                                    <img class="swiper-img" src="{{ main_img.0.image.url }}" alt="{{ main_img.0.description }}">
                                {% else %}
                                    <img class="swiper-img" src="{% static 'img/00-01_Prostar_195.jpg' %}" alt="Main image of wakeboard tower">
                                {% endif %}
                            </div>
                            <div class="swiper-slide">
                                {% if ang_img %}
                                    <img class="swiper-img" src="{{ ang_img.0.image.url }}" alt="{{ ang_img.0.description }}">
                                {% else %}
                                    <img class="swiper-img" src="{% static 'img/00-01_Prostar_195_angle.jpg' %}" alt="angled image of wakeboard tower">
                                {% endif %}
                            </div>
                            <div class="swiper-slide">
                                {% if back_img %}
                                    <img class="swiper-img" src="{{ back_img.0.image.url }}" alt="{{ back_img.0.description }}">
                                {% else %}
                                    <img class="swiper-img" src="{% static 'img/00-01_Prostar_195_back.jpg' %}" alt="back image of wakeboard tower">
                                {% endif %}
                            </div>
                            <div class="swiper-slide">
                                {% if coll_img %}
                                    <img class="swiper-img" src="{{ coll_img.0.image.url }}" alt="{{ coll_img.0.description }}">
                                {% else %}
                                    <img class="swiper-img" src="{% static 'img/00-01_Prostar_195_collapsed.jpg' %}" alt="collapsed image of wakeboard tower">
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="swiper-img" src="{% static 'img/00-01_Prostar_195.jpg' %}" alt="main image of wakeboard tower">
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-img" src="{% static 'img/00-01_Prostar_195_angle.jpg' %}" alt="angled view of wakeboard tower">
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-img" src="{% static 'img/00-01_Prostar_195_back.jpg' %}" alt="back view of wakeboard tower">
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-img" src="{% static 'img/00-01_Prostar_195_collapsed.jpg' %}" alt="collapsed view of wakeboard tower">
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="col-lg-6">
                {% if towers %}
                    {% with towers|first as tower %}
                        <h3 class="boat-title">{{ tower.get_name }} tower</h3>
                    
                        <p class="boat-text">Patterned after the OEM {{tower.get_name|title}} wakeboard towers that were designed specifically for {{tower.get_name|title}} boats.
                            New Dimension wakeboard towers are strong, lightweight, and built to withstand extreme conditions. All of our towers are specifically designed and fabricated to fit your exact make and model of boat. No universal joints or adjustments are needed. 
                            Fabricated using 1 7/8 inch diameter, brushed and anodized 6061 aluminum tubing, creating the ultimate light weight, corrosion resistant tower. The mounting base is custom designed and machined using polished billet aluminum removing the need for a large metal plate bolted to the hull. Every element of the New Dimension wakeboard tower is designed to enhance the look and performance of your boat.</p>

                    {% endwith %}
                {% else %}
                    <h3 class="boat-title">The NDT tower</h3>
                    
                    <p class="boat-text">The NDT “Hybrid” is a new breed of wakeboard towers designed by New Dimension to meet the ever-changing recreational boat market. The “Hybrid” is a cross between an exact fit OEM style tower and a universal tower with all the fit, form and function detailing you have come to expect from New Dimension Towers. Come check out this exciting new industry first, the NDT “Hybrid”!</p>
                {% endif %}
            </div>
        </div> -->
        <!-- <div class="arrow-down"></div> -->
        <!-- <a href="{% url 'installation' %}"><p class="bottom-content">Installation guide | <span><a href="{% url 'faq' %}">FAQ</a></span></p></a> -->
        


    <!-- <div class="spacer-small"></div> -->



        <div class="spacer-small" id="reviews"></div>

        <div class="card-container-tower">
            <h3>What our customers are saying</h3>
            <div class="reviews">
                <div class="review-card">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h3 class="review-name">Worth every penny!</h3>
                    <p class="review-text">This tower made an old boat new again. The tower fit beautifully on my older-model Bayliner – it looks great! It also makes wakeboarding far more enjoyable for my family – my sons and I are getting much higher out of the water and having a great time. We also use the boat much more often than we did before. I also went back to add some speakers and lights which really set the whole thing off and are a lot of fun out on the water. I couldn’t have asked for more. – Ben P.</p>
                </div>
                <div class="review-card">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h3 class="review-name">Worth the wait and effort!</h3>
                    <p class="review-text">It took a while to get the tower, but it was well worth the wait! The fit and finish is on par with Zero-Flex and the bolt points are just as sleek. I called New Dimension Towers directly for some advice and they were great. I’m fairly handy with tools, etc., and still found this challenging. I put mine on a 1999 ProStar – the difficult part was the mounting of the backing plates, I had to do a lot of it by feel. Just be patient and you will be rewarded with an awesome tower. - Mike</p>
                </div>
                <div class="review-card">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h3 class="review-name">No Question. This is your tower!</h3>
                    <p class="review-text">Had the tower installed on my 2001 Mastercraft ProStar 190. It’s tight! It’s a dead ringer for the factory Zero-Flex tower for half the price. Pimped it out with a Mako 6 light bar. Now we are lighting up the night. New Dimension hand makes each tower specifically for your boat. If you need a tower this is the only way to go. - Bruce C.</p>
                </div>
            </div>
        </div>
    <div class="spacer"></div>
</main>
{% endblock %}